.border-left1 {
  border-left: 0.25rem solid #4e73df;
}
.text-color1
 {
   color: #4e73df
 }
.border-left2 {
    border-left: 0.25rem solid #858796;
}
.text-color2
 {
   color: #858796
 }
.border-left3 {
    border-left: 0.25rem solid #36b9cc;
}
.text-color3
 {
   color: #36b9cc
 }
.border-left4 {
    border-left: 0.25rem solid  #f6c23e ;
}
.text-color4
 {
   color:  #f6c23e
 }
