<div class="card rounded shadow-sm p-2">

  <div class="card-head text-center text-white bg-secondary">
    <H3>Formulário de Cargos</H3>
  </div>

  <form class="row" [formGroup]="form!">
    <p>Form value: {{form.value | json}}</p>
    <p>Form status: {{form.status | json}}</p>
    <div>

      <div class="card-body bg-light ">
        <h4 class="border-bottom">Dados Cargo</h4>

        <div class="form-row d-md-flex">
          <div class="form-group col-md-5 p-1">
            <label>Cargo</label>
            <input type="text" class="form-control" placeholder="Nome cargo"
              [ngClass]="validarCampo(f.nomeCargo)"
              formControlName="nomeCargo"/>
            <div class="invalid-feedback">
              {{retornarValidacao(f.nomeCargo, "")}}
            </div>
          </div>
          <div class="form-group col-md-2 p-1">
            <label>Nível</label>
            <select class="form-select form-control" 
              aria-label="Default select example"
              formControlName="nivel"
              [ngClass]="validarCampo(f.nivel)">
              <option value="Auxiliar">Auxiliar</option>
              <option value="Assistente">Assistente</option>
              <option value=Analista>Analista</option>
              <option value="Líder">Líder</option>
              <option value="Supervisor">Supervisor</option>
              <option value="Coordenador">Coordenador</option>
              <option value="Gerente">Gerente</option>
              <option value="Diretor">Diretor</option>
              <option value="Presidente">Presidente</option>
            </select>
            <div class="invalid-feedback">
              {{retornarValidacao(f.nivel, "")}}
            </div>
          </div>
          <div class="form-group col-md-3 p-1">
            <label>Recursos Homanos?</label>
            <select class="form-select form-control" 
              aria-label="Default select example"
              formControlName="recursosHumanos"
              [ngClass]="validarCampo(f.recursosHumanos)">
              <option value=false>Não</option>
              <option value=true>Sim</option>
            </select>
            <div class="invalid-feedback">
              {{retornarValidacao(f.recursosHumanos, "")}}
            </div>            
          </div>    
          <div class="form-group col-md-2 p-1">
            <label>Departamento</label>
            <select class="form-select form-control" 
              aria-label="Default select example"
              formControlName="departamentoId"
              [ngClass]="validarCampo(f.departamentoId)">
              <option *ngFor='let departamento of departamentos'
                value={{departamento.id}}>{{departamento.siglaDepartamento}}</option>
              </select>
            <div class="invalid-feedback">
              {{retornarValidacao(f.departamentoId, "")}}
            </div>            
          </div>        
        </div>
      </div>

      <div class="card-footer bg-dark p-0">
 		    <div class="d-flex">
 			    <button class="btn btn-danger ms-auto m-1" (click)="limparFormulario()">
 				    Cancelar
 			    </button>
 			    <button class="btn btn-success m-1" [disabled]="!form.valid" (click)="salvarAlteracao()">
 				  <!--  <span class="spinner-border spinner-border-sm mr-1"></span> -->
 				     Salvar
 			    </button>
 		    </div>
 	    </div>
    </div>
  </form>
 </div>
