<form class="row m-0 p-1 bg-white" [formGroup]="form" >
  <div class="card d-flex m-0 p-0 bg-light">
    <div  class="card-body  bg-light m-0 " >
      <div class="form-row d-md-flex ">
        <div class="row col p-1">
          <div class="bg-light">
            <h4 class="border-bottom mt-3">Meta:</h4>
            <div class="form-row d-md-flex">
              <div class="form-group col-md-8 p-1">
                <label>Nome Meta</label>
                <input type="text"
                      class="form-control"
                      formControlName="nomeMeta"
                      readonly="true">
                </div>
                <div class="form-group col-md-2 p-1">
                  <label>Cumprida?</label>
                  <select class="form-select disabed" aria-label="Default select example"
                        formControlName="metaCumprida"
                        >
                    <option value="false" disabled>Não</option>
                    <option option value="true" disabled>Sim</option>
                  </select>
                </div>
                <div class="form-group col-md-2 p-1">
                  <label>Aprovada?</label>
                  <select class="form-select disabed" aria-label="Default select example"
                        formControlName="metaAprovada"
                        readonly="true">
                    <option value="false" disabled>Não</option>
                    <option option value="true" disabled>Sim</option>
                  </select>
                </div>
              </div>
              <div class="form-row d-md-flex">
                <div class="form-group col-md-3 p-1">
                  <label>Início Planejado</label>
                  <input class="form-control"
                        formControlName="inicioAcordado"
                        [readonly]="true"
                        bsDatepicker
                        [bsConfig]="bsConfig"
                        value="{{funcionarioMeta.inicioAcordado | DateTimeFormat}}"
                        >
                </div>
                <div class="form-group col-md-3 p-1">
                  <label>Fim Planejado</label>
                  <input type="text" class="form-control"
                        formControlName="fimAcordado"
                        [readonly]="true"
                        bsDatepicker
                        [bsConfig]="bsConfig"
                        value="{{funcionarioMeta.fimAcordado | DateTimeFormat}}"
                        >
                </div>
                <div class="form-group col-md-3 p-1">
                  <label>Início Realizado</label>
                  <input type="text" class="form-control"
                        formControlName="inicioRealizado"
                        bsDatepicker
                        [bsConfig]="bsConfig"
                        value="{{funcionarioMeta.inicioRealizado | DateTimeFormat}}"
                        >
                </div>
                <div class="form-group col-md-3 p-1">
                  <label>Fim Realizado</label>
                  <input type="text" class="form-control"
                        formControlName="fimRealizado"
                        bsDatepicker
                        [bsConfig]="bsConfig"
                        value="{{funcionarioMeta.fimRealizado | DateTimeFormat}}"
                        >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer bg-secondary p-0">
        <div class="d-flex " >
          <button class="btn btn-success m-1 ms-auto "
          [disabled]="!form.valid"
          *ngIf="iniciarMeta"
          (click)="iniciarMeta()">
            Iniciar Meta
          </button>
          <button class="btn btn-success m-1 ms-auto"
          [disabled]="!form.valid"
          *ngIf="!iniciarMeta"
          (click)="finalizarMeta()">
            Finalizar Meta
          </button>
        </div>
      </div>

    </div>
</form>

<p>Form value: {{form.value | json}}</p>
<p>Form status: {{form.status | json}}</p> -
