<nav class="navbar nav-tabs navbar-expand-lg navbar-light bg-white shadow-sm py-0"
      *ngIf="showMenu()">
  <div class="container">
    <div class="row ">
      <a class="navbar-brand" routerLink="home">
        <img class="imgLogo  " src="../../../assets/img/ghr-logo.jpg" alt="">
        GHR
      </a>
    </div>
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
            (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse"
         id="navbarNav"
         [collapse]="isCollapsed"
         [isAnimated]="true">
        <ul class="navbar-nav pl-0 ml-0" *ngIf="contaLogada">
          <li class="nav-item" routerLinkActive="active" >
            <a class="nav-link {{(this.visaoRH)? '' : 'disabled'}} " aria-current="page" routerLink="departamentos">Departamentos</a>
          </li>
          <li class="nav-item " routerLinkActive="active" >
            <a class="nav-link {{(this.visaoRH)? '' : 'disabled'}}" aria-current="page" routerLink="cargos">Cargos</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link " aria-current="page" routerLink="funcionarios/lista">Funcionários</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link {{(this.visaoRH)? '' : 'disabled'}}" aria-current="page" routerLink="metas">Metas</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="ranking">Ranking</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="relatorios">Relatórios</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto ml-3" *ngIf="contaLogada">
          <li class="nav-item dropdown " dropdown>
            <a dropdownToggle class="nav-link dropdown-toggle " style="cursor: pointer;" id="navbarDropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
            {{this.contaAtiva.userName | titlecase }}
            </a>
            <div *dropdownMenu class="dropdown-menu dropdown-menu-right"
            aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" routerLink="conta/perfil">
                Perfil
              </a>
              <div role="separator" class="dropdown-divider"></div>
              <a (click)="logout()" class="dropdown-item" style="cursor: pointer">
                Sair
              </a>
            </div>
          </li>
        </ul>
    </div>
  </div>
</nav>
