.imgLogo {
  width: 28%;
}

@media only screen and (max-width: 1399px) {
  .imgLogo {
    width: 25%;
  }
}
@media only screen and (max-width: 1199px) {
  .imgLogo {
    width: 20%;
  }

}
@media only screen and (max-width: 991px) {
  .imgLogo {
    width: 15%;
  }

}

