<div class="row">
  <div class="col-md-6">
    <div class="card d-none d-md-block">
      <div class="card-header bg-white">
 <!-- Figura Lateral Direita -->
        <div class="d-none d-md-block">
          <div class="text-center col-md-12 my-auto side-heder">
            <img class="imgCentral" src="../../../../assets/img/ghr-logo.jpg" alt="" >
            <h2 class="shadow bg-dark text-white">Grow Human Resources</h2>
          </div>
        </div>
  <!-- Figura Lateral Direita -->
      </div>
    </div>

    <form class="row g-2">
	    <div class="pt-">
		    <h4 class="border-bottom">Cadastro de Usuário</h4>
	    </div>
    	<div class="form-row d-md-flex">
		    <div class="form-group col-md-4 p-1">
			    <label>Usuário</label>
			    <input type="text" class="form-control" placeholder="Insira seu código de usuário" />
		    </div>
        <div class="form-group col-md-8 p-1">
		    	<label>Nome</label>
			    <input type="text" class="form-control" placeholder="Insira seu nome completo" />
		    </div>
	    </div>
	    <div class="form-group p-1">
		    <label for="">Email:</label>
		    <input class="form-control" type="text" placeholder="Insira seu e-mail pessoal" />
	    </div>
    	<div class="form-row d-md-flex">
		    <div class="form-group col-sm-6 p-1">
			    <label for="">Senha:</label>
			    <input class="form-control" type="password" placeholder="Digite uma Senha" />
		    </div>
		    <div class="form-group col-sm-6 p-1">
			   <label for="">Confirmar Senha:</label>
			   <input class="form-control" type="password" placeholder="Confirme a Senha" />
		    </div>
	    </div>
    </form>
    <div class="row px-3 pt-4">
      <button class="btn btn-lg btn-success btn-block">
        Registar
      </button>
    </div>
    <hr>
    <div class="row ">
      <div class="d-flex">
        <div class="custom-control custom-checkbox">
          <a class="btn btn-link btn-block align-items-center " routerLink="/user/login">
            Já sou Cadastrado
          </a>
        </div>
      </div>
    </div>
  </div>



 <!-- Figura Lateral Direita -->
    <div class="col-md-6 d-none d-md-block">
      <div class="text-center col-md-12 my-auto side-heder">
        <img class="imgLateral" src="../../../../assets/img/ghr-rightImg.png" alt="" >
    </div>
  <!-- Figura Lateral Direita -->
</div>
