<div class="row">
  <!-- Pie Chart -->
  <div class="col-xl-4 col-lg-5">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div
          class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Metas Por Departamento</h6>
          <div class="dropdown">
              <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                  aria-labelledby="dropdownMenuLink">
                  <div class="dropdown-header">Dropdown Header:</div>
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
              </div>
          </div>
      </div>
      <div>
        <div class="card  ">
            <!-- Card Body -->

            <div class="card-header py-3 d-flex flex-row align-items-center ">
              <div class="dropdown no-arrow">
                <div style="display: block">
<!--                  <canvas baseChart
                    [labels]="doughnutChartLabels"
                    [data]="doughnutChartData"
                    [chartType]="doughnutChartType">
                  </canvas> -->
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
