<app-titulo [titulo]="'Funcionários'"></app-titulo>

<div>
  <div class="mb-2">
    <label class="mr-2 mt-2">
      Filtro:
    </label>
    <input
      type="text"
      class="form-control mr-2"
      placeholder="pesquisar"
      [(ngModel)]="filtroLista"
    >
  </div>
</div>

<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>
        <button type="button" class="btn btn-outline-light btn-sm"
          (click)="alternarImagem()"
        >
          <b>
            Foto
            <i class="{{exibirImg ? 'fa-solid fa-eye' : 'fa-solid fa-eye-slash'}}"></i>
          </b>
        </button>
      </th>
      <th>#</th>
      <th>Nome Completo</th>
      <th>e-mail</th>
      <th>Telefone</th>
      <th>Salario</th>
      <th>Data Admissão</th>
      <th>Data Demissão</th>
      <th>Perfil</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="funcionarios && funcionarios.length">
    <tr *ngFor="let funcionario of funcionariosFiltrados">
      <td>
        <img [collapse]="exibirImg"
          [isAnimated]="true"
          src="/assets/img/{{funcionario.imagemURL}}" alt=""
          [style.width.px]="larguraImg"
          [style.margin.px]="margemImg"
        >
      </td>
      <td>{{funcionario.id}}</td>
      <td>{{funcionario.nomeCompleto}}</td>
      <td>{{funcionario.email}}</td>
      <td>{{funcionario.telefone}}</td>
      <td>{{funcionario.salario}}</td>
      <td>{{funcionario.dataAdmissao | DateTimeFormat}}</td>
      <td>{{funcionario.dataDemissao | DateTimeFormat}}</td>
      <td>{{funcionario.cargoId}}</td>
      <td>
          <button type="button" class="btn btn-outline-success btn-sm mr-2" tooltip="Editar">
            <i class="fa fa-pen"></i>
          </button>
          <button type="button" class="btn btn-outline-danger btn-sm" tooltip="Excluir" (click)="openModal(template)">
            <i class="fa fa-trash"></i>
          </button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!funcionarios.length">
    <tr>
      <td colspan="8" class="text-center" >
        <h4>Nenhum funcionario encontrado!</h4>
      </td>
    </tr>
  </tfoot>
</table>

<!-- Modal -->
<ng-template #template>
  <div class="modal-body text-center">
    <p>Confirma a exclusão deste funcionario?</p>
    <button type="button" class="btn btn-default" (click)="confirmar()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="recusar()" >Não</button>
  </div>
</ng-template>
{{funcionarios | json}}

