<app-titulo
  [titulo]="'Perfil'"
  [subtitulo]="'GHR - Grow Human Resource'"
  [iconClass]="'fa fa-id-card'"
  [botaoListar]="false"
></app-titulo>

<div class="card rounded shadow-sm p-2">
  <form [formGroup]="form!">
    <p>Form value: {{form.value | json}}</p>
    <p>Form status: {{form.status | json}}</p>
    <div class="row ">
      <div class="col-lg-3 pt-1">
        <div class="card ">

          <div class="card-header bg-dark">
            <div class="align-self-center text-center pt-3">
              <a>
                <img
                  src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R"
                  name="aboutme" width="120" height="120" class="rounded-circle">
              </a>
              <div class="h4 text-center">@UserName</div>
            </div>
          </div>

          <div class="card-body bg-light">
            <div class="h7 text-bold pb-1"><b>Nome:</b> Miracles Lee Cross</div>
            <div class="h7">
              Developer of web applications, JavaScript, PHP, Java, Python, Ruby, Java, Node.js,
              etc.
            </div>
          </div>
          <div class="card-footer">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
               <div class="row">
                 <div class="col-6 text-center border-right">
                   <div class="h5">1342</div>
                   <div class="h6 text-muted">Metas Cumpridas</div>
                 </div>
                 <div class="col-6 text-center">
                   <div class="h5">1342</div>
                   <div class="h6 text-muted">Metas não Cumpridas</div>
                 </div>
               </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="form-group col-md-12">
          <h3 class="border-bottom">Detalhe Perfil</h3>
        </div>
        <div class="form-row d-md-flex">
          <div class="form-group col-md-4 p-1">
            <label>Cargo</label>
            <select class="form-control"
              [ngClass]="validarCampo(f.cargo)"
              formControlName="cargo"
            >
              <option value=""></option>
              <option value="0">Não Quero</option>
              <option value="Senhorita">Tecnólogo(a)</option>
              <option value="Senhorita">Bacharel</option>
              <option value="Senhorita">Especialista</option>
              <option value="Senhorita">Pós Graduado(a)</option>
              <option value="Senhorita">Mestre</option>
              <option value="Senhorita">Doutor(a)</option>
              <option value="Senhorita">Pós Doc</option>
            </select>
            <div class="invalid-feedback">
              {{retornarValidacao(f.cargo, "")}}
            </div>
          </div>
          <div class="form-group col-md-8 p-1">
            <label>Nome</label>
            <input type="text" class="form-control"
              [ngClass]="validarCampo(f.nome)"
              formControlName="nome"
            />
            <div class="invalid-feedback">
              {{retornarValidacao(f.nome, "")}}
            </div>
          </div>
        </div>
        <div class="form-row d-md-flex">
          <div class="form-group col-sm-6 p-1">
            <label>E-mail</label>
            <input type="text" class="form-control"
              [ngClass]="validarCampo(f.email)"
              formControlName="email"
            />
            <div class="invalid-feedback">
              {{retornarValidacao(f.email, "")}}
            </div>
          </div>
          <div class="form-group col-sm-3 p-1">
            <label>Telefone</label>
            <input type="text" class="form-control"
              [ngClass]="validarCampo(f.telefone)"
              formControlName="telefone"
            />
          </div>
          <div class="form-group col-sm-3 p-1">
            <label>Data Admissão</label>
            <input type="text" class="form-control"
              [ngClass]="validarCampo(f.dataAdmissao)"
              formControlName="dataAdmissao"
            >
            <div class="invalid-feedback">
              {{retornarValidacao(f.dataAdmissao, "")}}
            </div>
          </div>
        </div>

        <div class="form-row d-md-flex">
          <div class="form-group col p-1">
            <label>Sobre Mim</label>
            <textarea name="euMesmo"  class="form-control"
              [ngClass]="validarCampo(f.sobreMim)"
              formControlName="sobreMim">
            </textarea>
            <div class="invalid-feedback">
              {{retornarValidacao(f.sobreMim, "")}}
            </div>
          </div>
        </div>
        <div>
          <h3 class="pt-3 border-bottom">Mudar Senha</h3>
          <p>Caso mude de senha, preencha os campos abaixo:</p>
        </div>
        <div class="form-row d-md-flex">
          <div class="form-group col-md-6 p-1">
            <label>Senha</label>
            <input type="password" class="form-control"
              [ngClass]="validarCampo(f.senha)"
              formControlName="senha">
            <div class="invalid-feedback">
              {{retornarValidacao(f.senha, "")}}
            </div>
          </div>
          <div class="form-group col-md-6 p-1">
            <label>Confirmar Senha</label>
            <input type="password" class="form-control"
              [ngClass]="validarCampo(f.confirmarSenha)"
              formControlName="confirmarSenha"
            />
            <div class="invalid-feedback">
              {{retornarValidacao(f.confirmarSenha, "Confirmar Senha")}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer bg-dark">
      <div class="d-flex">
        <button class="btn btn-danger ms-auto m-1" (click)="limparFormulario()">
          Cancelar
        </button>
        <button class="btn btn-success m-1" [disabled]="!form.valid">
          <span class="spinner-border spinner-border-sm mr-1"></span>
          Salvar
        </button>
      </div>
    </div>
  </form>
</div>
<!--
    <header>
        <div class="cabeçalho">
            <img src="src/img/ghr.png" alt="GHR" width="60px" height="60px" >

        </div>
    </header>


    <aside>
      <div class="perfil">
        <h3> Perfil </h3>
     </div>
      <div class="editar">
        <b> <a class="link" href="#" target="_self">Editar</a> </b>
      </div>
      <div class="fotodeperfil">
          <img src="src/img/perfil.png" alt="foto de perfil" width="150px" height="150px">
      </div>
     </aside>

     <main  class="formularios">
         <form class="informaçõespessoais">
         <div class="titulo"> <b>Informações pessoais</b><hr width="50%"></div> <br>
        <div>
            <input type="text" placeholder="Nome completo*" required id="nome" />
        </div><br>
        <div>
            <input type="text"placeholder="Departamento*"  required id="Departamento" />
            <input type="text"placeholder="Setor*"  required id="Setor" />
        </div><br>
        <div>
            <input type="text"placeholder="CPF*" id="CPF" />
        </div><br>
        <div>
            <input type="E-mail"placeholder="E-mail" id="E-mail" />
        </div>
    </form>

    <form class="InformaçõesdeContato">
        <div class="titulo"><b> Informações de contato</b><hr width="18%"></div> <br>
        <div>
            <input type="text" placeholder="Endereço*" required id="Endereço" />
        </div><br>
        <div>
            <input type="text"placeholder="DDD*"  required id="DDD" />
            <input type="text"placeholder="Telefone*"  required id="Telefone" />
        </div><br>
        <div>
            <input type="text"placeholder="CPF*" id="CPF" />
        </div><br>
        <div>
            <input type="E-mail"placeholder="E-mail" id="E-mail" />
        </div>

    </form>
     </main>
    <footer>
       <div class="Voltar">
        <b> <a class="link" href="#" target="_self">Voltar</a> </b>
      </div>
    </footer>
  -->

