<div class="row g-0">
  <div class="col-md-6 col-sm-12">
    <div class="card">
      <div class="card-header bg-white ">
        <!-- Figura Lateral Direita -->
        <div class="d-none d-md-block">
          <div class="text-center col-md-12 my-auto side-heder">
            <img class="imgCentral" src="../../../../assets/img/ghr-logo.jpg" alt="" >
            <div class="titulo shadow bg-dark text-white">Grow Human Resources</div>
          </div>
        </div>
        <!-- Figura Lateral Direita -->

        <form class="form-signin" #loginForm="ngForm" (ngSubmit)="login()">
<!--          <p>Form value: {{loginForm.value | json}}</p>
          <p>Form status: {{loginForm.status | json}}</p> -->
          <div class="pt-1 ">
            <h5 class="border-bottom text-center">Login</h5>
          </div>

          <div class="form-row d-md-flex">
            <div class="form-group col-12 p-1">
              <label>Usuário</label>
              <input
                [(ngModel)]="model.userName"
                name="userName"
                type="text"
                id="userName"
                class="form-control"
                placeholder="Insira seu código de usuário"
                required>
            </div>
          </div>
          <div class="form-row d-md-flex">
            <div class="form-group col-12 p-1">
              <label for="">Senha:</label>
              <input
                [(ngModel)]="model.password"
                name="password"
                type="password"
                id="password"
                class="form-control"
                placeholder="Insira sua senha"
                required>
            </div>
          </div>
          <div class="d-flex row m-1">
            <button class="btn btn-lg btn-success btn-block "
              [disabled]="loginForm.invalid"
              type="submit">
              Entrar
            </button>
          </div>
        </form>
        <hr class="pt-0">
        <div class="row ">
          <div class="d-sm-flex">
            <div class="custom-control custom-checkbox">
              <a class="btn btn-link btn-block "> Esqueci minha senha</a>
            </div>
            <div class="custom-control custom-checkbox ms-auto">
              <a class="btn btn-link btn-block " routerLink="/conta/cadastro">
                Quero me cadastrar
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Figura Lateral Direita -->
  <div class="col-md-6 d-none d-md-block">
    <div class="text-center col-md-12 my-auto side-heder">
      <img class="imgLateral" src="../../../../assets/img/ghr-rightImg.png" alt="" >
    </div>
    <!-- Figura Lateral Direita -->
  </div>
</div>

