<form class="row m-0 p-1 bg-white" [formGroup]="form" (ngSubmit)="associarFuncionarioMeta()">

  <div class="card d-flex m-0 p-0 bg-light">
    <div class="card-header m-1 p-1 bg-light">
        <div class="input-group mb-3 mt-1">
          <div class="input-group-text mr-1">Selecionae uma Meta:</div>
          <select class="form-select" aria-label="Default select example"
                formControlName="id">
            <option *ngFor='let meta of metas'
                  value={{meta.id}}>{{meta.nomeMeta}}
            </option>
          </select>
          <button class="btn btn-outline-success p-1"
            (click)="consultarMeta()">
            <b>Consultar</b>
          </button>
        </div>
      </div>

      <div  class="card-body  bg-light m-0 " >
        <div class="form-row d-md-flex ">
          <div class="row col p-1">
            <div class="bg-light">
              <h4 class="border-bottom mt-3">Meta:</h4>
              <div class="form-row d-md-flex">
                <div class="form-group col-md-6 p-1">
                  <label>Nome Meta</label>
                  <input type="text"
                      class="form-control"
                      formControlName="nomeMeta"
                      readonly="true">
                </div>
                <div class="form-group col-md-3 p-1">
                  <label>Meta Cumprida?</label>
                  <select class="form-select disabed" aria-label="Default select example"
                        formControlName="metaCumprida"
                        [ngClass]="validarCampo(ctrMeta.metaCumprida)"
                        readonly="true">
                    <option value="false">Não</option>
                    <option option value="true">Sim</option>
                  </select>
                  <div class="invalid-feedback">
                    {{retornarValidacao(ctrMeta.metaCumprida, "")}}
                  </div>
                </div>
                <div class="form-group col-md-3 p-1">
                  <label>Meta Aprovada?</label>
                  <select class="form-select disabed" aria-label="Default select example"
                        formControlName="metaAprovada"
                         [ngClass]="validarCampo(ctrMeta.metaAprovada)"
                        readonly="true">
                    <option value="false">Não</option>
                    <option option value="true">Sim</option>
                  </select>
                  <div class="invalid-feedback">
                    {{retornarValidacao(ctrMeta.metaAprovada, "")}}
                  </div>
                </div>
              </div>
              <div class="form-row d-md-flex">
                <div class="form-group col-md-3 p-1">
                  <label>Início Planejado</label>
                  <input type="text" class="form-control"
                        formControlName="inicioPlanejado"
                        value="{{meta.inicioPlanejado | DateTimeFormat}}"
                         readonly="true">
                </div>
                <div class="form-group col-md-3 p-1">
                  <label>Fim Planejado</label>
                  <input type="text" class="form-control"
                        formControlName="fimPlanejado"
                        value="{{meta.fimPlanejado | DateTimeFormat}}"
                        readonly="true">
                </div>
                <div class="form-group col-md-3 p-1">
                  <label>Início Realizado</label>
                  <input type="text" class="form-control"
                    formControlName="inicioRealizado"
                    value="{{meta.inicioRealizado | DateTimeFormat}}"
                    readonly="true">
                </div>
                <div class="form-group col-md-3 p-1">
                  <label>Fim Realizado</label>
                  <input type="text" class="form-control"
                    formControlName="fimRealizado"
                    value="{{meta.fimRealizado | DateTimeFormat}}"
                    readonly="true">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer bg-secondary p-0">
        <div class="d-flex ">
          <button class="btn btn-success m-1 ms-auto" [disabled]="!form.valid" type="submit">
            Associar Meta
          </button>
        </div>
      </div>

    </div>
</form>

<!-- <p>Form value: {{form.value | json}}</p>
<p>Form status: {{form.status | json}}</p> -->
