<div class="card rounded shadow-sm p-1 m-0">
  <div class="card-head text-center text-white bg-secondary ">
    <H3 >Formulário de Funcionários</H3>
  </div>
  <div class="card-body bg-light m-0 p-0">
    <div class="card bg-light pt-1 m-0 ">

      <form class="row m-1" [formGroup]="formConta" (submit)="salvarConta()">

        <div  class="card-header m-0 p-0" ngClass="{{(!visaoRH || modoEditar)? 'd-none':'d-block'}}">
          <div class="row d-flex p-0">
            <div class="form-group">
              <div class="form-row d-md-flex">
                <div  class="flex-fill pr-3" >
                  <div class="input-group mb-2 ">
                    <div class="input-group-prepend">
                      <div class="input-group-text mr-1">Pesquisa:</div>
                    </div>
                    <input type="text"
                      class="form-control"
                      placeholder="Conta"
                      formControlName="contaPesquisa">
                  </div>
                </div>
                <div  class="ms-auto">
                  <a class="d-flex btn btn-outline-success" (click)="consultarConta()">
                    <i class="fa fa-magnifying-glass my-1"  tooltip="Pesquisar" ></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div  class="card-body" ngClass="{{(visaoRH || modoEditar)? !ativarConsultaConta: ativarConsultaConta}}">
          <h4 class="border-bottom m-0">Dados da Conta</h4>

          <div class="form-row d-flex">
            <div class="form-group col-md-3 p-1">
              <label>Conta</label>
              <input type="text"
                class="form-control"
                placeholder="Conta"
                formControlName="userName"
                readonly="true">
            </div>
            <div class="form-group col-md-5 p-1">
              <label>Nome</label>
              <input type="text"
                class="form-control "
                placeholder="Nome Completo"
                formControlName="nomeCompleto"
                [readonly]="protegerCampoConta"
                [ngClass]="validarCampo(ctrConta.nomeCompleto)">
              <div class="invalid-feedback">
                {{retornarValidacao(ctrConta.nomeCompleto, "")}}
              </div>
            </div>
            <div class="form-group col-md-4 p-1 ">
              <label>e-mail</label>
              <input type="text"
                class="form-control"
                placeholder="fulanodetal@email.com.br"
                formControlName="email"
                [readonly]="protegerCampoConta"
                [ngClass]="validarCampo(ctrConta.email)">
              <div class="invalid-feedback">
                {{retornarValidacao(ctrConta.email, "")}}
              </div>
            </div>
          </div>
          <div  class="form-row d-flex">
            <div class="form-group col-md-3 p-1 ">
              <label>Telefone</label>
              <input type="text"
                class="form-control"
                placeholder="(99) 9999-9999"
                formControlName="phoneNumber"
                [readonly]="protegerCampoConta"
                [ngClass]="validarCampo(ctrConta.phoneNumber)">
              <div class="invalid-feedback">
                {{retornarValidacao(ctrConta.phoneNumber, "")}}
              </div>
            </div>
            <div class="form-group col-md-3 p-1">
              <label>Visão</label>
              <select class="form-select form-control"
                aria-label="Default select example"
                formControlName="visao"
                [ngClass]="validarCampo(ctrConta.visao)">
                <option value="Funcionário" [disabled]="protegerCampoConta">Funcionário</option>
                <option value="Funcionário RH " [disabled]="protegerCampoConta">Funcionário RH</option>
                <option value="Supervisor" [disabled]="protegerCampoConta">Supervisor</option>
                <option value="Supervisor RH" [disabled]="protegerCampoConta">Supervisor RH</option>
                <option value="Gerente" [disabled]="protegerCampoConta">Gerente</option>
                <option value="Gerente RH" [disabled]="protegerCampoConta">Gerente RH</option>
                <option value="Diretor" [disabled]="protegerCampoConta">Ditetor</option>
                <option value="Diretor RH" [disabled]="protegerCampoConta">Diretor RH</option>
              </select>
              <div class="invalid-feedback">
                {{retornarValidacao(ctrConta.visao, "")}}
              </div>
            </div>
          </div>
        </div>

        <div class="card-footer bg-secondary p-0"  ngClass="{{(visaoRH || modoEditar)? !ativarConsultaConta: ativarConsultaConta}}">
          <div class="d-flex " >
            <button class="btn btn-success m-1 ms-auto" [disabled]="!formConta.valid || protegerCampoConta" (click)="salvarConta()">
              Prosseguir
            </button>
          </div>
        </div>

      </form>

      <form class="row m-1" [formGroup]="formFuncionario" (submit)="salvarFuncionario()">
        <div  class="card-body" ngClass="{{visaoRH ? ativarFuncionario : !ativarFuncionario}}">
          <h4 class="border-bottom mt-2">Dados Pessoais</h4>

          <div class="form-row d-md-flex">

            <div class="form-group col-md-3 p-1">
              <label>CPF</label>
              <input type="text"
                class="form-control"
                [readonly]="protegerCampoFuncionario"
                placeholder="999.999.999-99"
                [ngClass]="validarCampo(ctrF.cpf)"
                formControlName="cpf">
              <div class="invalid-feedback">
                {{retornarValidacao(ctrF.cpf, "")}}
              </div>
            </div>
            <div class="form-group col-md-3 p-1">
              <label>Título de Eleitor</label>
              <input type="text"
                class="form-control"
                placeholder="somente números"
                [readonly]="protegerCampoFuncionario"
                [ngClass]="validarCampo(ctrF.tituloEleitor)"
                formControlName="tituloEleitor">
              <div class="invalid-feedback">
                {{retornarValidacao(ctrF.tituloEleitor, "")}}
              </div>
            </div>
            <div class="form-group col-md-3 p-1">
              <label>Identidade</label>
              <input type="text"
                class="form-control"
                [readonly]="protegerCampoFuncionario"
                [ngClass]="validarCampo(ctrF.identidade)"
                formControlName="identidade">
              <div class="invalid-feedback">
                {{retornarValidacao(ctrF.identidade, "")}}
              </div>
            </div>
            <div class="form-group col-md-3 p-1">
              <label>Data Expedição</label>
              <input type="text"
                class="form-control"
                placeholder="dd/mm/aaaa"
                [readonly]="protegerCampoFuncionario"
                [ngClass]="validarCampo(ctrF.dataExpedicaoIdentidade)"
                formControlName="dataExpedicaoIdentidade"
                bsDatepicker
                [bsConfig]="bsConfig"
                value="{{dadosPessoais.dataExpedicaoIdentidade | DateTimeFormat}}"
                >
              <div  class="invalid-feedback">
                {{retornarValidacao(ctrF.dataExpedicaoIdentidade, "")}}
              </div>
            </div>
          </div>

          <div class="form-row d-md-flex">
            <div class="form-group col-md-3 p-1">
              <label>Órgão Expedição</label>
              <input type="text"
                class="form-control"
                placeholder="Órgão Expedição"
                [readonly]="protegerCampoFuncionario"
                [ngClass]="validarCampo(ctrF.orgaoExpedicaoIdentidade)"
                formControlName="orgaoExpedicaoIdentidade">
              <div  class="invalid-feedback">
                {{retornarValidacao(ctrF.orgaoExpedicaoIdentidade, "")}}
              </div>
            </div>
            <div class="form-group col-md-3 p-1">
              <label>UF</label>
              <select class="form-select form-control"
                aria-label="Default select example"
                formControlName="ufIdentidade"
                [ngClass]="validarCampo(ctrF.ufIdentidade)">
                <option value="AC" [disabled]="protegerCampoFuncionario">Acre</option>
                <option value="AL" [disabled]="protegerCampoFuncionario">Alagoas</option>
                <option value="AP" [disabled]="protegerCampoFuncionario">Amapá</option>
                <option value="AM" [disabled]="protegerCampoFuncionario">Amazonas</option>
                <option value="BA" [disabled]="protegerCampoFuncionario">Bahia</option>
                <option value="CE" [disabled]="protegerCampoFuncionario">Cerá</option>
                <option value="DF" [disabled]="protegerCampoFuncionario">Distrito Federal</option>
                <option value="ES" [disabled]="protegerCampoFuncionario">Espírito Santo</option>
                <option value="GO" [disabled]="protegerCampoFuncionario">Goiás</option>
                <option value="MA" [disabled]="protegerCampoFuncionario">Maranhão</option>
                <option value="MT" [disabled]="protegerCampoFuncionario">Mato Grosso</option>
                <option value="MS" [disabled]="protegerCampoFuncionario">Mato Grosso do Sul</option>
                <option value="MG" [disabled]="protegerCampoFuncionario">Minas Gerais</option>
                <option value="PA" [disabled]="protegerCampoFuncionario">Pará</option>
                <option value="PB" [disabled]="protegerCampoFuncionario">Paraíba</option>
                <option value="PR" [disabled]="protegerCampoFuncionario">Paraná</option>
                <option value="PE" [disabled]="protegerCampoFuncionario">Pernambuco</option>
                <option value="PI" [disabled]="protegerCampoFuncionario">Piauí</option>
                <option value="RJ" [disabled]="protegerCampoFuncionario">Rio de Janeiro</option>
                <option value="RN" [disabled]="protegerCampoFuncionario">Rio Grande do Norte</option>
                <option value="RS" [disabled]="protegerCampoFuncionario">Rio Grande do Sul</option>
                <option value="RO" [disabled]="protegerCampoFuncionario">Rondônia</option>
                <option value="RR" [disabled]="protegerCampoFuncionario">Roraima</option>
                <option value="SC" [disabled]="protegerCampoFuncionario">Santa Catarina</option>
                <option value="SP" [disabled]="protegerCampoFuncionario">São Paulo</option>
                <option value="SE" [disabled]="protegerCampoFuncionario">Sergipe</option>
                <option value="TO" [disabled]="protegerCampoFuncionario">Tocantins</option>
              </select>
              <div class="invalid-feedback">
                {{retornarValidacao(ctrF.ufIdentidade, "")}}
              </div>
            </div>
            <div class="form-group col-md-3 p-1">
              <label>Estado Civil</label>
              <select class="form-select form-control"
                aria-label="Default select example"
                formControlName="estadoCivil"
                [ngClass]="validarCampo(ctrF.estadoCivil)">
                <option value="Não Informado" [disabled]="protegerCampoFuncionario">Não Informado</option>
                <option value="Solteiro" [disabled]="protegerCampoFuncionario">Solteiro</option>
                <option value="Divorciado" [disabled]="protegerCampoFuncionario">Divorciado</option>
                <option value="Casado" [disabled]="protegerCampoFuncionario">Casado</option>
                <option value="Outros" [disabled]="protegerCampoFuncionario">Outros</option>
              </select>
              <div class="invalid-feedback">
                {{retornarValidacao(ctrF.estadoCivil, "")}}
              </div>
            </div>
            <div class="form-group col-md-3 p-1">
              <label>C.T.</label>
              <input type="text"
                class="form-control"
                placeholder="C.T."
                [readonly]="protegerCampoFuncionario"
                [ngClass]="validarCampo(ctrF.carteiraTrabalho)"
                formControlName="carteiraTrabalho">
              <div  class="invalid-feedback">
                {{retornarValidacao(ctrF.carteiraTrabalho, "")}}
              </div>
            </div>
          </div>

          <div class="form-row d-md-flex">
            <div class="form-group col-md-3 p-1">
              <label>Data Expedição</label>
              <input type="text"
                class="form-control"
                placeholder="dd/mm/aaaa"
                [readonly]="protegerCampoFuncionario"
                [ngClass]="validarCampo(ctrF.dataExpedicaoCarteiraTrabalho)"
                formControlName="dataExpedicaoCarteiraTrabalho"
                bsDatepicker
                [bsConfig]="bsConfig"
                value="{{dadosPessoais.dataExpedicaoCarteiraTrabalho | DateTimeFormat}}"
                >
              <div  class="invalid-feedback">
                {{retornarValidacao(ctrF.dataExpedicaoCarteiraTrabalho, "")}}
              </div>
            </div>
          </div>

          <h4 class="border-bottom mt-2">Endereço</h4>

          <div class="form-row d-flex">
            <div class="form-group col-md-3 p-1">
               <label label>CEP</label>
               <input type="text"
                class="form-control"
                placeholder="Somente números"
                [readonly]="protegerCampoFuncionario"
                [ngClass]="validarCampo(ctrF.cep)"
                formControlName="cep">
              <div  class="invalid-feedback">
                {{retornarValidacao(ctrF.cep, "")}}
              </div>
             </div>
             <div class="form-group col-md-6 p-1">
               <label label>Rua</label>
               <input type="text"
                class="form-control"
                placeholder="Nome da rua"
                [readonly]="protegerCampoFuncionario"
                [ngClass]="validarCampo(ctrF.logradouro)"
                formControlName="logradouro">
              <div  class="invalid-feedback">
                {{retornarValidacao(ctrF.logradouro, "")}}
              </div>
            </div>
            <div class="form-group col-md-3 p-1">
               <label label>Número</label>
               <input type="text"
                class="form-control"
                placeholder="Número da casa"
                [readonly]="protegerCampoFuncionario"
                [ngClass]="validarCampo(ctrF.numero)"
                formControlName="numero">
              <div  class="invalid-feedback">
                {{retornarValidacao(ctrF.numero, "")}}
              </div>
             </div>
          </div>

          <div class="form-row d-flex">
            <div class="form-group col-md-2 p-1">
               <label label>Complemento</label>
               <input type="text"
                class="form-control"
                placeholder="Casa/Apto/Andar"
                [readonly]="protegerCampoFuncionario"
                [ngClass]="validarCampo(ctrF.complemento)"
                formControlName="complemento">
              <div  class="invalid-feedback">
                {{retornarValidacao(ctrF.complemento, "")}}
              </div>
             </div>
             <div class="form-group col-md-5 p-1">
               <label label>Bairro</label>
               <input type="text"
                class="form-control"
                placeholder="Nome do Bairro"
                [readonly]="protegerCampoFuncionario"
                [ngClass]="validarCampo(ctrF.bairro)"
                formControlName="bairro">
              <div  class="invalid-feedback">
                {{retornarValidacao(ctrF.bairro, "")}}
              </div>
             </div>
            <div class="form-group col-md-5 p-1">
               <label label>Cidade</label>
               <input type="text"
                class="form-control"
                placeholder="Nome Cidade"
                [readonly]="protegerCampoFuncionario"
                [ngClass]="validarCampo(ctrF.cidade)"
                formControlName="cidade">
              <div  class="invalid-feedback">
                {{retornarValidacao(ctrF.cidade, "")}}
              </div>
             </div>
          </div>

          <div class="form-row d-flex">
            <div class="form-group col-md-2 p-1">
              <label>UF</label>
               <select class="form-select form-control"
                aria-label="Default select example"
                placeholder="UF"
                formControlName="uf"
                [ngClass]="validarCampo(ctrF.uf)">
                <option value="AC" [disabled]="protegerCampoFuncionario">Acre</option>
                <option value="AL" [disabled]="protegerCampoFuncionario">Alagoas</option>
                <option value="AP" [disabled]="protegerCampoFuncionario">Amapá</option>
                <option value="AM" [disabled]="protegerCampoFuncionario">Amazonas</option>
                <option value="BA" [disabled]="protegerCampoFuncionario">Bahia</option>
                <option value="CE" [disabled]="protegerCampoFuncionario">Cerá</option>
                <option value="DF" [disabled]="protegerCampoFuncionario">Distrito Federal</option>
                <option value="ES" [disabled]="protegerCampoFuncionario">Espírito Santo</option>
                <option value="GO" [disabled]="protegerCampoFuncionario">Goiás</option>
                <option value="MA" [disabled]="protegerCampoFuncionario">Maranhão</option>
                <option value="MT" [disabled]="protegerCampoFuncionario">Mato Grosso</option>
                <option value="MS" [disabled]="protegerCampoFuncionario">Mato Grosso do Sul</option>
                <option value="MG" [disabled]="protegerCampoFuncionario">Minas Gerais</option>
                <option value="PA" [disabled]="protegerCampoFuncionario">Pará</option>
                <option value="PB" [disabled]="protegerCampoFuncionario">Paraíba</option>
                <option value="PR" [disabled]="protegerCampoFuncionario">Paraná</option>
                <option value="PE" [disabled]="protegerCampoFuncionario">Pernambuco</option>
                <option value="PI" [disabled]="protegerCampoFuncionario">Piauí</option>
                <option value="RJ" [disabled]="protegerCampoFuncionario">Rio de Janeiro</option>
                <option value="RN" [disabled]="protegerCampoFuncionario">Rio Grande do Norte</option>
                <option value="RS" [disabled]="protegerCampoFuncionario">Rio Grande do Sul</option>
                <option value="RO" [disabled]="protegerCampoFuncionario">Rondônia</option>
                <option value="RR" [disabled]="protegerCampoFuncionario">Roraima</option>
                <option value="SC" [disabled]="protegerCampoFuncionario">Santa Catarina</option>
                <option value="SP" [disabled]="protegerCampoFuncionario">São Paulo</option>
                <option value="SE" [disabled]="protegerCampoFuncionario">Sergipe</option>
                <option value="TO" [disabled]="protegerCampoFuncionario">Tocantins</option>
              </select>
              <div class="invalid-feedback">
                {{retornarValidacao(ctrF.uf, "")}}
              </div>
             </div>
            <div class="form-group col-md-2 p-1">
               <label label>País</label>
               <input type="text"
                class="form-control"
                placeholder="País"
                [readonly]="protegerCampoFuncionario"
                [ngClass]="validarCampo(ctrF.pais)"
                formControlName="pais">
              <div  class="invalid-feedback">
                {{retornarValidacao(ctrF.pais, "")}}
              </div>
             </div>
             <div class="form-group col-md-2 p-1">
               <label label>Caixa Postal</label>
               <input type="text"
                class="form-control"
                placeholder="Caixa Postal"
                [readonly]="protegerCampoFuncionario"
                [ngClass]="validarCampo(ctrF.caixaPostal)"
                formControlName="caixaPostal">
              <div  class="invalid-feedback">
                {{retornarValidacao(ctrF.caixaPostal, "")}}
              </div>
             </div>
            <div class="form-group col-md-6 p-1">
               <label label>Complemento Endereço</label>
               <input type="text"
                class="form-control"
                placeholder="Complemento Endereco"
                [readonly]="protegerCampoFuncionario"
                [ngClass]="validarCampo(ctrF.complementoEndereco)"
                formControlName="complementoEndereco">
              <div  class="invalid-feedback">
                {{retornarValidacao(ctrF.complementoEndereco, "")}}
              </div>
            </div>
          </div>

          <h4 class="border-bottom mt-2">Empresa</h4>

          <div class="form-row d-flex">
            <div class="form-group col-md-3 p-1">
             <label>Departamento</label>
              <select typer="number" class="form-select form-control" aria-label="Default select example"
                formControlName="departamentoId"
                [ngClass]="validarCampo(ctrF.departamentoId)">
                <option *ngFor='let departamento of departamentos'
                  value={{departamento.id}}  [disabled]="protegerCampoFuncionario">
                  {{departamento.nomeDepartamento}}
                </option>
              </select>
              <div class="invalid-feedback">
                {{retornarValidacao(ctrF.departamentoId, "")}}
              </div>
            </div>
            <div class="form-group col-md-3 p-1">
              <label>Cargo</label>
              <select typer="number" class="form-select form-control" aria-label="Default select example"
                formControlName="cargoId"
                [ngClass]="validarCampo(ctrF.cargoId)">
                <option *ngFor='let cargo of cargos'
                  value={{cargo.id}} [disabled]="protegerCampoFuncionario">
                  {{cargo.nomeCargo}}
                </option>
              </select>
              <div class="invalid-feedback">
                {{retornarValidacao(ctrF.cargoId, "")}}
              </div>
            </div>
            <div class="form-group col-md-3 p-1">
              <label>Data Admissão</label>
              <input type="text" class="form-control" placeholder="Informe a data admissão"
              [readonly]="protegerCampoFuncionario"
              [ngClass]="validarCampo(ctrF.dataAdmissao)"
              formControlName="dataAdmissao"
              bsDatepicker
              [bsConfig]="bsConfig"
              value="{{funcionario.dataAdmissao | DateTimeFormat}}"
              >
              <div  class="invalid-feedback">
                {{retornarValidacao(ctrF.dataAdmissao, "")}}
              </div>
            </div>
            <div class="form-group col-md-3 p-1">
              <label>Data Desligamento</label>
              <input type="text" class="form-control" placeholder="Informe a data desligamento"
              formControlName="dataDemissao"
              [readonly]="protegerCampoFuncionario"
              [ngClass]="validarCampo(ctrF.dataDemissao)"
              bsDatepicker
              [bsConfig]="bsConfig"
              value="{{funcionario.dataDemissao | DateTimeFormat}}">
            </div>
          </div>

          <div class="form-row d-flex">
            <div class="form-group col-md-2 p-1">
              <label>Salário</label>
              <input class="form-control"
                [readonly]="protegerCampoFuncionario"
                [ngClass]="validarCampo(ctrF.salario)"
                currencyMask
                [options]="{prefix: 'R$ ', thousands: '.', decimal: ','}"
                formControlName="salario"
              >
              <div class="invalid-feedback">
                {{retornarValidacao(ctrF.salario, "")}}
              </div>
            </div>
            <div class="form-group col-md-2 p-1">
              <label>Supervisor</label>
              <input type="number" class="form-control" readonly="true" placeholder="Supervisor"
               formControlName="supervisorId" >
            </div>
            <div class="form-group col-md-3 p-1">
              <label>Gerência Administrativa</label>
              <input type="number" class="form-control" readonly="true" placeholder="Gerência Administrativa"
                formControlName="gerenteAdministrativoId">
            </div>
            <div class="form-group col-md-3 p-1 ">
              <label>Gerência Operacional</label>
              <input type="number" class="form-control" readonly="true" placeholder="Gerência de Operações"
                formControlName="gerenteOperacionaId">
            </div>
            <div class="form-group col-md-2 p-1">
             <label>Diretoria</label>
             <input type="number" class="form-control" readonly="true" placeholder="Diretoria"
              formControlName="diretorId" >
            </div>
          </div>

          <div class="card-footer bg-secondary p-0">
            <div class="d-flex">
              <button class="btn btn-danger ms-auto m-1"
               [disabled]="protegerCampoFuncionario"
              (click)="limparFormulario()">
                Cancelar
              </button>
              <button class="btn btn-success m-1"
              [disabled]="!formFuncionario.valid || protegerCampoFuncionario" tyep="submit">
                Salvar
              </button>
            </div>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>

<!--    <p>Form value: {{formFuncionario.value | json}}</p>
    <p>Form status: {{formFuncionario.status | json}}</p> -->
